.App {
  overflow: hidden;
}

#main-content {
  transition: margin-left 0.5s;
  position: relative;
  width: 100%; /* solution to not resize content when opening sidebar */
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1B242F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 47px;
}

.navbar-item {
  padding: 8px 8px 8px 8px;
  display: block;
  transition: 0.3s;
}

.navbar-openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100vw;
  text-align: left;
}

.link-style {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.current-link {
  color: #D71E63;
}

/* Desktop view */
/* ? View not refreshing immediately when mobile device is rotated -> have to set a screen listener to detect size change */
@media only screen and (min-width: 700px) {
  #main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  .navbar {
    width: 250px;
  }

  .navbar-item:hover {
    color: #D71E63;
    padding-left: 24px;
  }

  .navbar-openbtn {
    visibility: hidden;
    width: calc(100% - 250px);
  }
}
