#main-content {
  transition: margin-left 0.5s;
  position: relative;
  width: 100%; /* solution to not resize content when opening sidebar */
}

.navbar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.navbar-item {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.navbar-openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(70, 70, 70);
  color: white;
  padding: 10px 15px;
  border: none;
  width: 100vw;
  text-align: left;
}

.navbar-closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Desktop view */
/* ? View not refreshing immediately when mobile device is rotated */
@media only screen and (min-width: 700px) {
  #main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  .navbar {
    width: 250px;
  }

  .navbar-openbtn {
    visibility: hidden;
    width: calc(100% - 250px);
  }

  .navbar-closebtn {
    visibility: hidden;
  }
}
